@font-face {
    font-family: "CranberryBlues";
    src: url("../assets/fonts/CranberryBlues.ttf");
    font-family: "Shakerato-PERSONAL";
     src: url("../assets/fonts/Shakerato-PERSONAL.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Shakerato-PERSONAL";
    color: red;
    border: 2px solid blue;
    background-color: rgba(194, 115, 170, 0.377);
    text-align: center;
}

.title{
    text-align: center;
    margin:50px auto 20px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-family: 'Poppins', sans-serif;

}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}

#myCanvas {
    border:1px solid black;
    background-image:linear-gradient(rgba(255,255,255,0.95), rgba(7, 136, 104, 0.95)), url("../assets/images/covid-logo.png");
    margin: 100px 300px 100px;

    
}

.canvas{
    background-color: rgb(245, 195, 195);
}

 #infosJeu {
    font-family: "Shakerato-PERSONAL";
    color:red;
    font-size:20px;
    position:absolute;
    left:30px;
    top:580px;
    user-select: none;
} 

.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Poppins', sans-serif;

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*--------------footer------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    font-family: "Shakerato-PERSONAL";
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}